<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Web Sockets</title>
</head>
<body>
    <h1>Message me</h1>
    <ul id="messages"></ul>

    <button id="connect">Connect</button>
    <button id="close">Close Connection</button>

    <div style="margin-top:20px;">
        <label for="message">Message: </label>
        <input type="text" id="message" name="message" />

        <input id="send-btn" type="submit" value="Send" />
    </div>

    <script src="~/js/jquery/jquery.min.js"></script>
    <script src="~/js/messages.js"></script>
</body>
</html>